<h1>Skills</h1>
<mat-grid-list [cols]="breakpoint" rowHeight="2:1" [gutterSize]="'25px'" (window:resize)="onResize($event)">
    <mat-grid-tile>
        <mat-card>
            <h2>HTML</h2>
            <img class="logo" src="assets/images/html-logo.webp" alt="Description of image" style="width: 75%; height: 75%; display: block; margin-left: auto; margin-right: auto;">
        </mat-card>
    </mat-grid-tile>
    <mat-grid-tile>
        <mat-card>
            <h2>CSS</h2>
            <img class="logo" src="assets/images/css-logo.png" alt="Description of image" style="width: 75%; height: 75%; display: block; margin-left: auto; margin-right: auto;">
        </mat-card>
    </mat-grid-tile>
    <mat-grid-tile>
        <mat-card>
            <h2>TypeScript</h2>
            <img class="logo" src="assets/images/typescript-4096.png" alt="Description of image" style="width: 75%; height: 75%; display: block; margin-left: auto; margin-right: auto;">
        </mat-card>
    </mat-grid-tile>
    <mat-grid-tile>
        <mat-card>
            <h2>Angular</h2>
            <img class="logo" src="assets/images/angular-logo.png" alt="Description of image" style="width: 75%; height: 75%; display: block; margin-left: auto; margin-right: auto;">
        </mat-card>
    </mat-grid-tile>
    <mat-grid-tile>
        <mat-card>
            <h2>React</h2>
            <img class="logo" src="assets/images/react-logo.webp" alt="Description of image" style="width: 75%; height: 75%; display: block; margin-left: auto; margin-right: auto;">
        </mat-card>
    </mat-grid-tile>
    <mat-grid-tile>
        <mat-card>
            <h2>Git</h2>
            <img class="logo" src="assets/images/git-logo.png" alt="Description of image" style="width: 75%; height: 75%; display: block; margin-left: auto; margin-right: auto;">
        </mat-card>
    </mat-grid-tile>
    <mat-grid-tile>
        <mat-card>
            <h2>Jira</h2>
            <img class="logo" src="assets/images/jira-logo.png" alt="Description of image" style="width: 75%; height: 75%; display: block; margin-left: auto; margin-right: auto;">
        </mat-card>
    </mat-grid-tile> 
</mat-grid-list>