:host {
    display: block;
    min-height: 100vh;
    width: 100%;
    background-color: var(--primary-bg-color);
    border-bottom: 1px solid #929292;
}

h1 {
    text-align: center;
    font-size: 4rem;
    font-weight: 400;
    padding-top: 1.5rem;
    margin-bottom: 1.5rem;
    padding-bottom: 20px;
    color: var(--text-color);
}

h2 {
    font-family: 2.5rem;
    padding-bottom: 10px;
}

.logo {
    height: 50% !important;
    width: 50% !important;
}

mat-card {
    background-color: var(--secondary-bg-color) !important;
}

mat-card h2 {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: var(--text-color);
}

mat-card {
    height: 100%; 
    width: 50%; 
    justify-content: center;
    transition: all 0.3s ease;
}

mat-grid-list {
    margin-bottom: 3rem;
}

/* mat-grid-tile:nth-of-type(even) mat-card {
    margin-right: 25% !important;
}

mat-grid-tile:nth-of-type(odd) mat-card {
    margin-left: 25% !important;
} */

@media (max-width: 1024px) {
    .logo {
        padding-bottom: 5px;
    }

    mat-grid-tile:nth-of-type(even) mat-card,
    mat-grid-tile:nth-of-type(odd) mat-card {
        margin: 0 !important;
    }
}

@media (max-width: 640px) {
    h2 {
        font-size: 2.75rem;
    }
}

@media (max-width: 500px) {
    h2 {
        font-size: 2.25rem;
    }
}

@media (max-width: 360px) {
    h2 {
        font-size: 2rem;
    }
}