<div class="content-container light-mode">
    <!-- <h1 class="header">Hi, I'm Darius!</h1> -->
    <!-- Welcome to my online portfolio where you can find.. I'm a software engineer with 5 years of experience specializing in front-end 
                        web development. During my career, I've used various JavaScript frameworks like Angular, React and Node to 
                        build my projects. I thrive on crafting seamless and dynamic user experiences, bringing a blend of technical 
                        proficiency and creativity to every project. Let's build something remarkable together! -->
    <div class="body">
        <h1 class="header">Hi, I'm Darius!</h1>
        <img src="assets/images/landing.png" alt="Darius' Photo" class="profile-photo">
        <div class="statement">
            A good front-end web developer creates seamless, user-friendly experiences by blending design with functionality. They focus on clean, responsive code, ensure accessibility,.
        </div>
        <button class="start-btn" mat-flat-button>Get Started</button>
        <!-- <mat-card class="carousel-card">
            <ngb-carousel class="carousel">
                <ng-template ngbSlide>
                    <div class="carousel-slide">
                        Welcome to my online portfolio where you can find.. I'm a software engineer with 5 years of experience specializing in front-end 
                        web development. During my career, I've used various JavaScript frameworks like Angular, React and Node to 
                        build my projects. I thrive on crafting seamless and dynamic user experiences, bringing a blend of technical 
                        proficiency and creativity to every project. Let's build something remarkable together!
                    </div>
                </ng-template>
                <ng-template ngbSlide>
                    <div class="carousel-slide">
                        Welcome to my online portfolio where you can find.. I'm a software engineer with 5 years of experience specializing in front-end 
                        web development. During my career, I've used various JavaScript frameworks like Angular, React and Node to 
                        build my projects. I thrive on crafting seamless and dynamic user experiences, bringing a blend of technical 
                        proficiency and creativity to every project. Let's build something remarkable together!
                    </div>
                </ng-template>
                <ng-template ngbSlide>
                    <div class="carousel-slide">
                        Welcome to my online portfolio where you can find.. I'm a software engineer with 5 years of experience specializing in front-end 
                        web development. During my career, I've used various JavaScript frameworks like Angular, React and Node to 
                        build my projects. I thrive on crafting seamless and dynamic user experiences, bringing a blend of technical 
                        proficiency and creativity to every project. Let's build something remarkable together!
                    </div>
                </ng-template>
            </ngb-carousel>
        </mat-card> -->
    </div>
</div>